<h3 class="heading">
  <button
    type="button"
    class="toggle"
    [id]="buttonId"
    [attr.aria-expanded]="open()"
    [attr.aria-controls]="panelId"
    (click)="open.set(!open())"
  >
    <span class="icon filter-group-icon" aria-hidden="true"><ng-content select="[icon]" /></span>
    <span class="label">{{ label() }}</span>
    @if (count() > 0) {
      <app-badge class="count" [label]="count() + ''" tone="neutral" />
    }
    <span class="chevron" aria-hidden="true">
      @if (open()) {
        <svg lucideChevronUp></svg>
      } @else {
        <svg lucideChevronDown></svg>
      }
    </span>
  </button>
</h3>
<div class="body" [id]="panelId" role="region" [attr.aria-labelledby]="buttonId" [hidden]="!open()">
  <ng-content />
</div>
