@use '../styles/typography';

:host {
  display: block;
}

.filter-group + .filter-group,
:host + :host .filter-group {
  margin-top: var(--space-7);
}

.label {
  @include typography.text('label');

  margin: 0 0 var(--space-3);
}
