@use '../styles/typography';

:host {
  display: contents;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}

.field-label {
  @include typography.text('label');
}

.field-hint {
  @include typography.text('caption');
}

.field-error {
  @include typography.text('caption');

  color: var(--negative);
}
